[Unit]
Description=sad telegram bot
After=syslog.target network.target

[Service]
WorkingDirectory=pathplaceholder
ExecStart=/usr/bin/python3 -m sadbot
Restart=always
User=userplaceholder
[Install]
WantedBy=multi-user.target
